@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

:root {
    --dm: 'DM Serif Display', serif;
    --karla: 'Karla', sans-serif;
    --Dark_Violet: hsl(256, 26%, 20%);
    --Grayish_Blue: hsl(216, 30%, 68%);
    --Very_Dark_Violet: hsl(270, 9%, 17%);
    --Dark_Grayish_Violet: hsl(273, 4%, 51%);
    --Very_Light_Gray: hsl(0, 0%, 98%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: var(--karla);
    min-height: 100vh;
}

.main {
    min-height: 100vh;
    z-index: 1;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 10rem;
}

.header img {
    cursor: pointer;
}

.nav {
    padding-block: 1rem;
}

.nav a {
    margin-inline: .7rem;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: var(--Dark_Grayish_Violet);
    transition: .3s ease;
}

.nav a:hover {
    color: var(--Dark_Violet);
}

#box {
    color: var(--Dark_Violet);
    border: 1px solid var(--Dark_Violet);
    padding: .7rem 1.8rem;
    cursor: pointer;
}

#box:hover {
    color: var(--Very_Light_Gray);
    background-color: var(--Dark_Violet);
    border: 1px solid var(--Dark_Violet);
}

.hero {
    display: flex;
    align-items: center;
    padding: 2rem 10rem;
    justify-content: space-between;
    gap: 3rem;
    background: url('./images/bg-pattern-intro-right-desktop.svg') no-repeat center right/contain var(--Dark_Violet);
    color: #fff;
    min-height: 80vh;
    margin-bottom: 10rem;
    z-index: 2;
}

.hero_info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: start;
    width: 48%;
    overflow: hidden;
}

.heroHr {
    width: 160px;
}

h1 {
    font-family: var(--dm);
    font-size: 72px;
    font-weight: 100;
    line-height: 120%;
    margin-block: 2rem .5rem;
    overflow: hidden;
}

.heroBtn {
    background: transparent;
    color: #fff;
    border: 1px solid var(--Dark_Violet);
    padding: .7rem 1.8rem;
    cursor: pointer;
    font-family: inherit;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 600;
    border: 2px solid #fff;
    transition: .3s ease;
}

.heroBtn:hover {
    background-color: #fff;
    color: var(--Dark_Violet);
}

p {
    font-size: 16px;
    line-height: 1.5;
}

.heroImg {
    transform: translateY(18vh);
    position: absolute;
    right: 10rem;
    z-index: 3;
}

.feature {
    padding: 8rem 10rem;
}

.feature_info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 10rem;
}

.feature_grids {
    display: flex;
    gap: 2rem;
    margin-top: 3rem;
}

h2 {
    font-family: var(--dm);
    font-size: 28px;
    color: var(--Dark_Violet);
    margin-top: 1rem;
}

.feature_grid {
    flex-basis: 33%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

.feature_grid p {
    color: var(--Dark_Grayish_Violet);
}

.feature_footer {
    background: url('./images/bg-pattern-how-we-work-desktop.svg') no-repeat center right/contain var(--Dark_Violet);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 6rem 4rem 6rem;
}

.feature_footer h1 {
    font-size: 56px;
    color: #fff;
    width: 55%;
}

.footer {
    background: url('./images/bg-pattern-footer-desktop.svg') no-repeat top left var(--Very_Light_Gray);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 5rem 10rem .5rem 10rem;
}

.footer_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social_icons img {
    padding-inline: .4rem;
    cursor: pointer;
    transition: .3s ease;
}

.social_icons img:hover {
    filter: brightness(0);
}

.footer_bodies {
    display: flex;
}

.footer_body {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    gap: 1rem;
}

.footer_body a {
    color: var(--Dark_Grayish_Violet);
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 1rem;
    text-decoration: none;
    letter-spacing: 1.5px;
}

.footer_body span {
    font-size: 13px;
    color: black;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 1.5px;
    transition: .3s ease;
}

.footer_body span:hover {
    text-decoration: underline;
}

.attribution {
    text-align: center;
    font-size: 14px;
}

.attribution a {
    color: crimson;
    text-decoration: none;
}

@media(max-width:1400px) {
    .header {
        padding: 1rem 3rem;
    }

    .hero {
        padding: 2rem 3rem;
        gap: 1.5rem;
    }

    .feature {
        padding: 6rem 3rem;
    }

    .feature_footer {
        padding: 3rem 3rem 4rem 3rem;
    }

    .footer {
        padding: 5rem 3rem .5rem 3rem;
    }

    .heroImg {
        transform: translateY(0);
        position: relative;
        right: 0;
    }

    .hero_info {
        width: 60%;
    }

    .hero_info h1 {
        font-size: 55px;
    }
}

@media(max-width:1078px) {
    .hero_info {
        width: 70%;
    }

    .feature_footer h1 {
        font-size: 40px;
    }
}

@media(max-width:777px) {
    .hero {
        flex-direction: column-reverse;
        text-align: center;
        margin-bottom: 3rem;
        padding: 0;
    }

    .heroImg {
        padding: 0;
        width: 100%;
    }

    .hero_info {
        align-items: center;
        width: 100%;
        padding: 2rem 1rem;
    }

    .hero_info h1 {
        font-size: 45px;
    }

    h1 {
        font-size: 48px;
    }

    .heroHr {
        width: 100%;
    }

    .feature {
        text-align: center;
        padding: 2rem;
    }

    .feature_grids {
        flex-direction: column;
    }

    .feature_grid {
        flex-basis: 100%;
        width: 100%;
        align-items: center;
    }

    .feature_footer {
        flex-direction: column;
        padding: 2rem 2rem 3rem 2rem;
        gap: 2rem;
    }

    .feature_footer h1 {
        width: 100%;
        text-align: center;
    }

    .footer_header {
        flex-direction: column;
        gap: 2rem;
    }

    .footer_bodies {
        flex-direction: column;
        gap: 2rem;
        text-align: center;
    }
}