@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

:root {
    --dm: 'DM Serif Display', serif;
    --karla: 'Karla', sans-serif;
    --Dark_Violet: hsl(256, 26%, 20%);
    --Grayish_Blue: hsl(216, 30%, 68%);
    --Very_Dark_Violet: hsl(270, 9%, 17%);
    --Dark_Grayish_Violet: hsl(273, 4%, 51%);
    --Very_Light_Gray: hsl(0, 0%, 98%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: var(--karla);
    min-width: 100vh;
}

.main {
    min-height: 100vh;
    z-index: 1;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 10rem;
}

.header img {
    cursor: pointer;
}

.nav {
    padding-block: 1rem;
}

.nav a {
    margin-inline: .7rem;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: var(--Dark_Grayish_Violet);
    transition: .3s ease;
}

.nav a:hover {
    color: var(--Dark_Violet);
}

#box {
    color: var(--Dark_Violet);
    border: 1px solid var(--Dark_Violet);
    padding: .7rem 1.8rem;
    cursor: pointer;
}

#box:hover {
    color: var(--Very_Light_Gray);
    background-color: var(--Dark_Violet);
    border: 1px solid var(--Dark_Violet);
}

.hero {
    display: flex;
    align-items: center;
    padding: 2rem 10rem;
    justify-content: space-between;
    gap: 3rem;
    background: url('./images/bg-pattern-intro-right-desktop.svg') no-repeat center right/contain var(--Dark_Violet);
    color: #fff;
    height: 80vh;
    margin-bottom: 10rem;
    z-index: 2;
}

.hero_info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: start;
    width: 48%;
    overflow: hidden;
}

.heroHr {
    width: 160px;
}

h1 {
    font-family: var(--dm);
    font-size: 72px;
    font-weight: 100;
    line-height: 120%;
    margin-block: 2rem .5rem;
    overflow: hidden;
}

.heroBtn {
    background: transparent;
    color: #fff;
    border: 1px solid var(--Dark_Violet);
    padding: .7rem 1.8rem;
    cursor: pointer;
    font-family: inherit;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 600;
    border: 2px solid #fff;
    transition: .3s ease;
}

.heroBtn:hover {
    background-color: #fff;
    color: var(--Dark_Violet);
}

.hero_info p {
    font-size: 16px;
    line-height: 1.5;
}

.heroImg {
    transform: translateY(18vh);
    position: absolute;
    right: 10rem;
    z-index: 3;
}